.page {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-2xl);
}

.date-field {
  position: relative;

  .form-control {
    padding-right: 44px;
    cursor: pointer;
  }

  .date-toggle {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-text-secondary);
  }
}
