<div class="container page">
  <div class="page-header">
    <h1 class="section-title">{{ 'visit.title.new' | translate }}</h1>
  </div>

  <div class="card">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'visit.patient' | translate }}</mat-label>
          <mat-select formControlName="patientId">
            @for (p of patients; track p.id) {
              <mat-option [value]="p.id">{{ p.firstName }} {{ p.lastName }}</mat-option>
            }
          </mat-select>
          <mat-error>{{ 'common.required' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'visit.doctor' | translate }}</mat-label>
          <mat-select formControlName="doctorId">
            @for (d of doctors; track d.id) {
              <mat-option [value]="d.id">Dr. {{ d.firstName }} {{ d.lastName }}</mat-option>
            }
          </mat-select>
          <mat-error>{{ 'common.required' | translate }}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'visit.date' | translate }}</mat-label>
          <input matInput [matDatepicker]="datePicker" formControlName="date"
            (click)="datePicker.open()" readonly />
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
          <mat-error>{{ 'common.required' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'visit.toothNumber' | translate }}</mat-label>
          <input matInput type="number" formControlName="toothNumber" min="1" max="48" />
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'visit.diagnosis' | translate }}</mat-label>
          <mat-select formControlName="diagnosisId">
            @for (dg of diagnoses; track dg.id) {
              <mat-option [value]="dg.id">{{ dg.code }} - {{ dg.name }}</mat-option>
            }
          </mat-select>
          <mat-error>{{ 'common.required' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'visit.diagnosisNotes' | translate }}</mat-label>
          <input matInput type="text" formControlName="diagnosisNotes" />
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'visit.treatment' | translate }}</mat-label>
          <mat-select formControlName="treatmentId">
            @for (tx of treatments; track tx.id) {
              <mat-option [value]="tx.id">{{ tx.code }} - {{ tx.name }}</mat-option>
            }
          </mat-select>
          <mat-error>{{ 'common.required' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'visit.treatmentNotes' | translate }}</mat-label>
          <input matInput type="text" formControlName="treatmentNotes" />
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'visit.price' | translate }}</mat-label>
        <input matInput type="number" formControlName="price" min="0" />
        <mat-error>{{ 'common.required' | translate }}</mat-error>
      </mat-form-field>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ 'common.save' | translate }}</button>
        <a routerLink="/visits" class="btn btn-outline">{{ 'common.cancel' | translate }}</a>
      </div>
    </form>
  </div>
</div>
