<div class="container page">
  <div class="page-header">
    <h1 class="section-title">{{ 'diagnoses.title' | translate }}</h1>
    <a routerLink="/diagnoses/new" matButton="elevated" color="primary"><mat-icon>add</mat-icon>{{ 'diagnoses.addNew' | translate }}</a>
  </div>

  <mat-card class="filters-card form-card">
    <mat-card-content>
      <div class="filters-row">
        <mat-form-field appearance="fill" class="search-field">
          <mat-label>{{ 'diagnoses.search' | translate }}</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input matInput (input)="onSearch($event)" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="filter-field">
          <mat-label>{{ 'diagnoses.filterCategory' | translate }}</mat-label>
          <mat-select (selectionChange)="categoryFilter.set($event.value)">
            <mat-option value="">{{ 'diagnoses.filterCategory' | translate }}</mat-option>
            @for (cat of categories; track cat) {
            <mat-option [value]="cat">{{ 'diagnosisCategory.' + cat | translate }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <table mat-table [dataSource]="dataSource" class="diagnoses-table" [class.no-paginator]="filteredDiagnoses().length <= 5">

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>{{ 'diagnoses.code' | translate }}</th>
      <td mat-cell *matCellDef="let dg">{{ dg.code }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ 'diagnoses.name' | translate }}</th>
      <td mat-cell *matCellDef="let dg">{{ dg.name }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>{{ 'diagnoses.category' | translate }}</th>
      <td mat-cell *matCellDef="let dg">
        <span class="badge badge-info">{{ 'diagnosisCategory.' + dg.category | translate }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>{{ 'diagnoses.description' | translate }}</th>
      <td mat-cell *matCellDef="let dg">{{ dg.description }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ 'diagnoses.actions' | translate }}</th>
      <td mat-cell *matCellDef="let dg">
        <div class="actions-cell">
          <a mat-icon-button class="icon-btn--warning" [routerLink]="['/diagnoses', dg.id, 'edit']" [matTooltip]="'common.edit' | translate">
            <mat-icon>edit</mat-icon>
          </a>
          <button mat-icon-button class="icon-btn--danger" (click)="deleteDiagnosis(dg.id)" [matTooltip]="'common.delete' | translate">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-mdc-no-data-row" *matNoDataRow>
      <td [colSpan]="displayedColumns.length">
        <div class="empty-state">
          <p class="empty-state-text">{{ 'diagnoses.noResults' | translate }}</p>
        </div>
      </td>
    </tr>

  </table>
  @if (filteredDiagnoses().length > 5) {
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  }
</div>
